@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap";
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace;
  font-size: 1em;
}
a {
  background-color: #0000;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="reset"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template,
[hidden] {
  display: none;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -moz-font-feature-settings: “liga” on;
  letter-spacing: -0.01rem;
}
*,
:before,
:after {
  box-sizing: inherit;
}
.col-1 {
  float: left;
  width: 8.33333%;
  margin-right: 24px;
}
.col-1:nth-child(12n) {
  margin-right: 0;
}
.col-2 {
  float: left;
  width: 16.6667%;
  margin-right: 24px;
}
.col-2:nth-child(12n) {
  margin-right: 0;
}
.col-3 {
  float: left;
  width: 25%;
  margin-right: 24px;
}
.col-3:nth-child(12n) {
  margin-right: 0;
}
.col-4 {
  float: left;
  width: 33.3333%;
  margin-right: 24px;
}
.col-4:nth-child(12n) {
  margin-right: 0;
}
.col-5 {
  float: left;
  width: 41.6667%;
  margin-right: 24px;
}
.col-5:nth-child(12n) {
  margin-right: 0;
}
.col-6 {
  float: left;
  width: 50%;
  margin-right: 24px;
}
.col-6:nth-child(12n) {
  margin-right: 0;
}
.col-7 {
  float: left;
  width: 58.3333%;
  margin-right: 24px;
}
.col-7:nth-child(12n) {
  margin-right: 0;
}
.col-8 {
  float: left;
  width: 66.6667%;
  margin-right: 24px;
}
.col-8:nth-child(12n) {
  margin-right: 0;
}
.col-9 {
  float: left;
  width: 75%;
  margin-right: 24px;
}
.col-9:nth-child(12n) {
  margin-right: 0;
}
.col-10 {
  float: left;
  width: 83.3333%;
  margin-right: 24px;
}
.col-10:nth-child(12n) {
  margin-right: 0;
}
.col-11 {
  float: left;
  width: 91.6667%;
  margin-right: 24px;
}
.col-11:nth-child(12n) {
  margin-right: 0;
}
.col-12 {
  float: left;
  width: 100%;
  margin-right: 24px;
}
.col-12:nth-child(12n) {
  margin-right: 0;
}
.avatar {
  align-items: center;
  gap: 16px;
  display: flex;
}
.avatar__img img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.avatar__title {
  color: #385fa5;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.avatar__desc {
  color: #797979;
  margin: 0;
  font-family: Encode Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tag {
  background-color: #4e225129;
  border-radius: 8px;
  padding: 12px 20px;
  display: inline-block;
}
.tag__text {
  text-transform: uppercase;
  color: #385fa5;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.form-gap {
  gap: 16px;
  display: flex;
}
input {
  border: none;
  border-radius: 8px;
  padding: 16px;
}
input:focus + label,
input:valid + label {
  color: #797979;
  background: #fff;
  padding: 0 5px;
  font-size: 12px;
  top: -5px;
  left: 10px;
}
.input_wrap {
  width: auto;
  height: auto;
  position: relative;
}
.input_wrap label {
  color: #797979;
  pointer-events: none;
  padding: 16px;
  font-family: arial;
  font-size: 16px;
  transition: all 0.2s;
  position: absolute;
  top: 2px;
  left: 0;
}
.input_wrap label img {
  margin-right: 12px;
}
.input_wrap input:focus {
  outline: none;
}
.button__container {
  flex-wrap: wrap;
  gap: 36px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}
.button {
  text-transform: uppercase;
  color: #fff;
  background: #385fa5;
  border-radius: 8px;
  margin: 0;
  padding: 10px 24px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  color: #fff;
}
.button.no-color {
  color: #385fa5;
  background-color: #0000;
}
.button.bigger {
  padding: 17px 24px;
}
.button.border {
  border: 1px solid #4e2251cc;
}
.button.opacity {
  background-color: #4e2251cc;
}
.button.white {
  color: #385fa5;
  background-color: #fff;
}
.card-resources {
  text-align: center;
  border-radius: 8px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  max-width: 327px;
  height: 211px;
  display: flex;
}
.card-resources .default__desc {
  margin-bottom: 0 !important;
  font-size: 31px !important;
}
.card-resources__icon {
  color: #383838;
  margin-bottom: 24px;
  display: inline-block;
}
.default__title {
  color: #385fa5;
  margin: 0;
  font-family: Encode Sans, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.default__title.smaller {
  font-size: 32px;
}
.default__desc {
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header {
  padding: 17px 0;
}
.header__container {
  max-width: 1240px;
  margin: 0 auto;
}
.header .navbar-nav {
  gap: 24px;
}
.header .navbar {
  padding: 0;
}
.header .navbar-collapse {
  flex-grow: 0;
}
.header .navbar .container-fluid {
  padding: 0;
}
.header .navbar .navbar-toggler {
  appearance: none;
  outline: none;
  padding: 0;
}
.header .navbar .navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.header .navbar .navbar-toggler-icon img {
  width: 32px;
  height: 32px;
}
.header .nav-link {
  color: #385fa5;
  text-transform: uppercase;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.hero {
  background: linear-gradient(80deg, #385fa5 0%, #5eb66f 100%);
  position: relative;
}
.hero__container {
  color: #fff;
  gap: 64px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.hero__img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.hero__img img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
.hero__content {
  width: 100%;
  max-width: 582px;
  max-height: 494px;
  padding: 100px 0;
}
.hero__content .button--container {
  gap: 16px;
  display: flex;
}
.hero__content .button.no-color {
  color: #fff;
}
.hero__title {
  margin: 0 0 24px;
  font-family: Encode Sans, sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
}
.hero .default__desc {
  margin-bottom: 32px;
}
.simulador {
  position: relative;
}
.simulador__container {
  border-radius: 16px;
  max-width: 1240px;
  margin: -80px auto 0;
  display: flex;
  box-shadow: 0 8px 8px #0000000a;
}
.simulador__content {
  background-color: #f6f6f6;
  border-radius: 8px 0 0 8px;
  width: 100%;
  max-width: 770px;
  padding: 64px;
}
.simulador__content .default__title {
  margin-bottom: 24px;
}
.simulador__content .default__desc {
  color: #5c5c5c;
  font-family: Work Sans;
}
.simulador__content .default__desc.second {
  color: #5c5c5c;
  margin-bottom: 32px;
}
.simulador__content .default__desc.second span {
  color: #385fa5;
  font-weight: 700;
}
.simulador__side {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 470px;
  padding: 64px;
  display: flex;
}
.simulador__side .button--container .button {
  text-align: center;
  width: 100%;
}
.simulador__form {
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
}
.simulador__form button {
  appearance: none;
  background-color: #fff;
  border: none;
  padding: 16px 24px 15px;
  font-size: 40px;
}
.simulador__input {
  background-color: #fff;
  max-width: 275px;
  height: 77px;
  margin-right: 16px;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 40px;
}
.simulador__input input {
  color: #797979;
  background-color: #0000;
  border: none;
  width: 200px;
  padding: 0;
  font-size: 40px;
}
.simulador__input input:focus {
  outline: none;
}
.simulador__toggle .toggle {
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-weight: bolder;
  display: flex;
}
.simulador__toggle .toggle p {
  color: #5c5c5c;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 8px 16px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.2s ease-in;
}
.simulador__toggle .toggle .active {
  color: #fff;
  background-color: #385fa5;
}
.simulador__toggle input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 360px;
  outline: none;
  width: 80px;
  height: 40px;
  position: relative;
  box-shadow: 0 4px 4px #0000000f;
}
.simulador__toggle input[type="checkbox"]:before {
  content: "";
  background: #385fa5;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  transition: all 0.5s;
  position: absolute;
  top: 9px;
  left: 10px;
  transform: scale(1.1);
  box-shadow: 0 2px 5px #0000004d;
}
.simulador__toggle input:checked[type="checkbox"]:before {
  left: 50px;
}
.simulador__bars {
  align-items: end;
  gap: 24px;
  margin-bottom: 24px;
  display: flex;
}
.simulador__bars .default__text {
  color: #385fa5;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.simulador__bars .value {
  color: #385fa5;
  margin: 0 0 8px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.simulador__bars .bar-size {
  background-color: #5eb66f;
  border-radius: 8px;
  width: 98px;
  height: 40px;
}
.simulador .contact__container {
  background-color: #f6f6f6;
  border-radius: 16px;
  height: 100%;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.simulador .contact__container .default__title {
  color: #385fa5;
}
.simulador .contact__container .close-btn {
  color: #385fa5;
  background-color: #0000;
  border: 1px solid #385fa5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 10px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
}
.simulador .contact__form {
  background-color: #f6f6f6;
  padding-top: 0;
}
.benefits {
  padding: 80px 0;
}
.benefits__container {
  gap: 58px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}

.benefits__side {
  width: 100%;
  max-width: 503px;
}
.benefits__side img {
  border: 8px solid #edf3ff;
  border-radius: 16px;
  max-width: 100%;
  height: auto;
}
.benefits .default__title {
  margin: 24px 0;
}
.benefits .default__desc {
  color: #797979;
  margin-bottom: 24px;
}
.benefits__list {
  padding: 0;
  list-style: none;
}
.benefits__list--item {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}
.benefits__list--text {
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.resources {
  background-color: #385fa5;
  padding: 80px 0;
}
.resources__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.resources .default__title {
  color: #fff;
  margin: 16px 0;
}
.resources .default__desc {
  color: #fff;
  margin: 0 0 48px;
  font-family: Work Sans, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
}
.resources .default__desc span {
  font-weight: 700;
}
.resources__content {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.assine__container {
  display: flex;
}
.assine__container img {
  width: 100%;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  display: flex;
}
.assine__content {
  padding: 60px 80px;
	width:100%;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assine__content .default__title {
  margin-bottom: 48px;
}
.assine__content .step {
  position: relative;
}
.assine__content .step:before {
  content: "";
  background-color: #385fa5;
  width: 2px;
  height: 210px;
  position: absolute;
  left: 21px;
}
.assine__content .step-number {
  text-align: center;
  color: #fff;
  background-color: #385fa5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 16px;
  font-weight: 700;
  display: flex;
  position: relative;
}
.assine__content .step-card {
  margin-bottom: 24px;
  display: flex;
}
.assine__content .step-card .default__desc {
  color: #5c5c5c;
  max-width: 250px;
  font-weight: 700;
}
.assine__content .button--container {
  margin-top: 48px;
}
.contas {
  margin-top: -2px;
}
.contas__container {
  display: flex;
  position: relative;
}
.contas__container:after {
  content: "=";
  color: #fff;
  text-align: center;
  z-index: 9;
  background: linear-gradient(80deg, #385fa5 0%, #5eb66f 100%);
  border: 8px solid #5eb66f;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 56px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.contas__content {
  color: #fff;
  background-color: #385fa5;
  max-width: 50%;
  padding: 80px 80px 40px;
}
.contas__content .default__title {
  color: #fff;
  margin-bottom: 48px;
}
.contas__content .default__desc {
  margin-bottom: 48px;
  font-size: 29px;
}
.contas__paper {
  gap: 40px;
  max-width: 542px;
  display: flex;
  position: relative;
}
.contas__paper:after {
  content: "+";
  background: linear-gradient(80deg, #385fa5 0%, #5eb66f 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  font-family: Encode Sans;
  font-size: 52px;
  font-weight: 800;
  display: flex;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.contas__card {
  max-width: 252px;
}
.contas__card--text {
  text-align: center;
}
.contas__side {
  color: #fff;
  background-color: #5eb66f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 50%;
  padding: 80px;
  display: flex;
}
.contas__side .default__title {
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
}
.contas__bigger-text {
  margin: 0;
  font-family: Encode Sans, sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 100%;
}
.contas__text {
  color: #5eb66f;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 448px;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.economia {
  padding: 80px;
}
.economia__container {
  text-align: center;
  max-width: 1240px;
  margin: 0 auto;
}
.economia__container .default__title {
  margin-bottom: 24px;
}
.economia__container .default__desc {
  color: #797979;
  max-width: 1029px;
  margin: 0 auto 48px;
}
.economia__content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  display: flex;
}
.economia__card {
  color: #385fa5;
  background-color: #f6f6f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 397px;
  height: 127px;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  box-shadow: 0 4px 4px #0000000f;
}
.economia__card.d-block {
  flex-direction: column;
  font-size: 16px;
  display: flex !important;
}
.economia__card.d-block span {
  font-size: 32px;
  line-height: 120%;
}
.economia__card span {
  margin-right: 12px;
  font-weight: 700;
}
.switcher__container {
  justify-content: center;
  display: flex;
}
.switcher__content {
  background-color: #edf3ff;
  width: 100%;
  max-width: 50%;
  padding: 80px 100px;
}
.switcher__content .default__title {
  margin-bottom: 24px;
}
.switcher__content .default__title:first-child {
  margin-bottom: 48px;
  position: relative;
}
.switcher__content .default__title span {
  position: relative;
}
.switcher__content .default__title span:after {
  content: "";
  background-color: #385fa5;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.switcher__content .nav-tabs {
  border: none;
  flex-wrap: nowrap;
  margin-bottom: 48px;
}
.switcher__content #nav-year-tab {
  margin-right: 24px;
}
.switcher__content .nav-link {
  color: #385fa5;
  box-shadow: none;
  background-color: #0000;
  border: none;
  border-bottom: 2px solid #385fa5;
  margin: 0;
  padding-bottom: 3px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.switcher__content .nav-link.active {
  color: #385fa5;
  box-shadow: none;
  background-color: #0000;
  border: none;
  border-bottom: 4px solid #385fa5;
  margin: 0;
  padding-bottom: 3px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.switcher__content .relatorios__resultado {
  color: #5c5c5c;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.switcher__side {
  width: 100%;
  max-width: 50%;
}
.switcher__side img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
}
.testimonials {
  background: linear-gradient(80deg, #385fa5 0%, #5eb66f 100%);
  margin-top: -1px;
  padding: 80px 0;
  position: relative;
}
.testimonials__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.testimonials__container .tag {
  background-color: #ffffff29;
  padding: 8px 20px;
  display: inline-block;
}
.testimonials__container .tag__text {
  color: #fff;
}
.testimonials__container .default__title {
  color: #fff;
  margin: 24px 0;
}
.testimonials__container .default__desc {
  color: #797979;
  margin-bottom: 48px;
}
.testimonials__content {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
  display: flex;
}
.testimonials__text {
  color: #385fa5;
  margin-bottom: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.testimonials__text.second {
  margin-bottom: 36px;
}
.testimonials__place {
  color: #797979;
  margin-bottom: 24px;
  font-family: Work Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.testimonials__card {
  background-color: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  flex-direction: column;
  max-width: 397px;
  height: 357px;
  padding: 32px 40px;
  display: flex;
  box-shadow: 0 4px 4px #0000000f;
}
.testimonials__card--text {
  color: #383838;
  margin: 0 0 auto;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contact {
  padding: 80px 0;
}
.contact__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.contact__container .default__title {
  color: #fff;
  text-align: center;
  margin: 24px 0;
}
.contact__container .default__desc {
  color: #fff;
  text-align: center;
  margin-bottom: 64px;
}
.contact__container .tag {
  background-color: #ffffff29;
}
.contact__container .tag__text {
  color: #fff;
}
.contact__form {
  background-color: #fff;
  border-radius: 16px;
  flex-flow: column wrap;
  justify-content: center;
  gap: 48px;
  width: 100%;
  padding: 64px;
  display: flex;
}
.contact__form .form-gap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.contact__form input {
  width: 330px;
  box-shadow: 0 8px 8px #0000000f;
}
.contact__form .button {
  border: none;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.faq {
  padding: 80px 0;
}
.faq__container {
  justify-content: center;
  gap: 24px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.faq__side {
  max-width: 576px;
}
.faq__side .default__title {
  margin: 24px 0;
}
.faq__side .default__desc {
  margin-bottom: 83px;
}
.faq__content {
  width: 100%;
}
.faq__content .accordion {
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  display: flex;
}
.faq__content .accordion-item {
  border: none;
  width: 100%;
  max-width: 608px;
  margin-bottom: 16px;
}
.faq__content .accordion-item:last-child {
  margin-bottom: 0;
}
.faq__content .accordion-body {
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.faq__content .accordion-button {
  color: #383838;
  margin: 0;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.faq__content .accordion-button:focus {
  box-shadow: none;
  border: none;
}
.faq__content .accordion-button:not(.collapsed) {
  color: #385fa5;
  background-color: #edf3ff;
}
.faq__content .accordion-button:after {
  background-image: url(../img/assets/seta.svg);
  background-size: unset;
  width: 10px;
  height: 6px;
}
.footer {
  color: #fff;
  background-color: #385fa5;
  padding: 48px 0;
}
.footer__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer__links {
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  display: flex;
}
.footer__links p {
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__links p a {
  color: #fff;
}
.footer__socials {
  gap: 24px;
  margin-bottom: 24px;
  display: flex;
}
.footer__logo {
  margin-bottom: 24px;
}
.footer__end {
  text-align: center;
  color: #fff;
  max-width: 310px;
}
.footer__end:hover {
  color: #fff;
}
@media only screen and (width<=767px) {
  .col-mobile-1 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-1:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-2 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-2:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-3 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-3:nth-child(4n) {
    margin-right: 0;
  }
  .col-mobile-4 {
    width: 33.3333%;
    margin-right: 16px;
  }
  .col-mobile-4:nth-child(4n) {
    margin-right: 0;
  }
}
@media only screen and (width<=479px) {
  .default__title {
    text-align: center;
    font-size: 32px;
  }
  .header__container {
    padding: 0 24px;
  }
  .hero__container {
    flex-direction: column;
    padding: 20px 24px 60px;
  }
  .hero__img {
    display: none;
  }
	.hero__content{
		padding: 40px 0px 20px;
	}
  .hero__content .button--container {
    gap: 8px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 48px;
  }
  .simulador__container {
    flex-direction: column;
    padding: 0 24px;
  }
  .simulador__content {
    border-radius: 8px;
    padding: 12px;
  }
  .simulador__content .default__desc.second {
    font-size: 12px;
  }
  .simulador__side {
    padding: 12px;
  }
  .simulador__form button {
    padding: 9px 24px 10px;
    font-size: 29px;
  }
  .simulador__input {
    height: 54px;
    font-size: 29px;
  }
  .simulador__input input {
    width: 120px;
    font-size: 29px;
  }
  .simulador__toggle .toggle {
    justify-content: center;
  }
  .simulador__toggle .toggle #empresa {
    order: 3;
  }
  .simulador__toggle .toggle #residencia {
    order: 2;
  }
  .simulador__toggle .toggle form {
    order: 1;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .simulador__toggle .toggle p {
    font-size: 14px;
  }
  .simulador__bars .default__text,
  .simulador__bars .value {
    font-size: 12px;
  }
  .simulador__bars .bar-size {
    width: 80px;
  }
  .benefits {
    padding: 60px 0;
  }
  .benefits__container {
    flex-direction: column;
	padding: 0 24px;
    overflow: auto;
  }
  .benefits__side {
    display: none;
  }
  .benefits__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    display: flex;
  }
  .benefits .default__desc {
    text-align: center;
  }
	.benefits__container img{
	width:1201px;
}
  .resources {
    padding: 60px 0;
  }
  .resources__container {
    height: 100%;
    padding: 0 24px;
  }
  .resources .default__title {
    text-align: left;
  }
  .resources .default__desc {
    font-size: 24px;
  }
  .assine__container {
    flex-direction: column-reverse;
  }
  .assine__container img {
    max-width: unset;
  }
  .assine__content {
    padding: 60px 24px;
  }
  .assine__content .step::before {
    height: 180px;
  }
  .assine__content .step-card .default__desc {
    max-width: 260px;
  }
  .contas__container {
    flex-direction: column;
  }
  .contas__container::after {
	  top: 61%;
  }
  .contas__content {
    max-width: 100%;
    padding: 60px 0;
  }
  .contas__content .default__title {
    text-align: left;
    padding: 0 24px;
  }
  .contas__content .default__desc {
    padding: 0 24px;
    font-size: 20px;
  }
  .contas__paper {
    padding: 0 24px;
    overflow: auto;
  }
  .contas__paper::after {
    left: unset;
    margin: unset;
    display: none !important;
    right: 40px;
  }
  .contas__side {
    max-width: 100%;
    padding: 60px 24px;
  }
  .contas__side .default__title {
    font-size: 40px;
    line-height: 48px;
  }
  .contas__bigger-text {
    font-size: 124px;
  }
  .economia {
    padding: 60px 24px;
  }
  .economia__container .default__title,
  .economia__container .default__desc {
    text-align: left;
  }
  .economia__card {
    font-size: 24px;
  }
  .switcher__container {
    flex-direction: column;
  }
  .switcher__content {
    max-width: 100%;
    padding: 60px 24px;
  }
  .switcher__content .default__title {
    text-align: left;
  }
  .switcher__side {
    max-width: 100%;
  }
  .switcher__side img {
    max-width: unset;
  }
  .testimonials {
    padding: 60px 0;
  }
  .testimonials__container {
    padding: 0 24px;
  }
  .testimonials__card {
    height: 100%;
  }
  .contact {
    padding: 60px 0;
  }
  .contact__container {
    padding: 0 24px;
  }
  .contact__container .default__desc {
    margin-bottom: 40px;
  }
  .contact__form {
    padding: 0;
  }
  .contact__form input {
    width: 300px;
  }
  .contact__form .button {
    width: 100%;
  }
  .faq__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 24px;
  }
  .faq__side {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .faq__side .default__desc {
    margin-bottom: 40px;
  }
}